* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(images/bg-pattern-top-desktop.svg),
    url(images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: 0 0, 22.5rem 5rem;
}
main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "starts review" "people people";
  width: 80vw;
}
.start {
  grid-area: starts;
  width: 80%;
  margin-bottom: 4rem;
}
h1 {
  color: hsl(300, 43%, 22%);
  font-size: 3.5em;
  margin-bottom: 1.5rem;
}
.start p {
  font-size: 1.1em;
  line-height: 1.2em;
  color: hsl(303, 10%, 53%);
}
.review {
  grid-area: review;
  width: 90%;
}
.review div {
  display: flex;
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
  padding: 1rem 2rem;
  width: 80%;
  margin-bottom: 1rem;
  align-items: center;
}
.review img {
  margin-right: 0.3rem;
}
.review div p {
  color: hsl(300, 43%, 22%);
  font-weight: bold;
  margin-left: 1rem;
}
.review .div-2 {
  margin: 0 auto 1rem auto;
}
.review .div-3 {
  margin: 0 0 0 auto;
}
.people {
  grid-area: people;
  display: flex;
  justify-content: space-between;
  height: 230px;
}
.people article {
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 2rem;
  width: 32%;
  height: fit-content;
}
.people .images {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.people .images img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}
.people .images h3 {
  color: #fff;
  font-size: 1em;
  margin-bottom: 0.3rem;
}
.people .images p {
  font-size: 1em;
  color: hsl(333, 80%, 67%);
}
.people article > p {
  color: #fff;
  line-height: 1.2rem;
  font-size: 0.9em;
}
.people .irene {
  margin: auto 0;
}
.people .anne {
  margin-top: auto;
}
@media (max-width: 1115px) and (min-width: 851px) {
  .review div {
    display: block;
  }
  .review p {
    text-align: center;
    margin: auto;
  }
  .review img:first-child {
    margin-left: 29%;
  }
  .review img {
    margin-bottom: 0.3rem;
  }
  h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 850px) {
  body {
    background-image: url(images/bg-pattern-top-mobile.svg),
      url(images/bg-pattern-bottom-mobile.svg);
    background-position: 0 0, right 800px;
  }
  main {
    display: block;
    width: 90vw;
  }
  .start {
    margin: 3rem auto 4rem auto;
    text-align: center;
  }
  .people {
    display: block;
  }
  h1 {
    font-size: 2em;
  }
  .review {
    margin-bottom: 3rem;
  }
  .people article {
    width: 100%;
    margin-bottom: 1rem;
  }
  .people .irene {
    margin-bottom: 1rem;
  }
  .review .div-1 {
    margin: 1rem auto;
  }
  .review .div-3 {
    margin: auto;
  }
  .review div {
    display: block;
  }
  .review p {
    text-align: center;
    margin: auto;
  }
  .review img:first-child {
    margin-left: 2rem;
    display: inline-block;
  }
  .review img {
    margin-bottom: 0.3rem;
  }
}
